body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

li::before {
    content: "*";
}

.btn {
    padding: 2px 1.2rem !important;
}

#ItemCard { width: 75%; }